*
{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(163, 200, 255);
}
nav {
    margin: 150px auto;
    width: 450px;
    height: 450px;
}
#check {
    display: none;
}
#central {
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 150px 150px;
    z-index: 1;
}

#central img {
    width: 100%;
    border-radius: 50%;
    transition: all .5s linear;
}
.link {
    position: absolute;
    margin: 195px 195px;
    width: 60px;
    height: 60;
    border-radius: 50%;
    transition: all .5s linear;
}
#check:checked ~ a #link_01{
    transform: translatey(-195px);
    transition: all .5s linear;
}

#check:checked ~ a #link_02{
    transform: translatex(195px);
    transition: all .5s linear;
}

#check:checked ~ a #link_03{
    transform: translatey(195px);
    transition: all .5s linear;
}

#check:checked ~ a #link_04{
    transform: translatex(-195px);
    transition: all .5s linear;
}

#check:checked ~ #central img {
    transform: rotate(45deg);
}